/*todo: light mode */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(237,237,238);
}

#op {
  background-color: #F59906 ;
}

body {
  background-color: #292D36;
  color: white;
  font-family: 'Outfit', sans-serif;
}

button {
  background-color: #1f2229;
  color: inherit;
  font-family: inherit;
  font-size: 21px;
  height: 60px;
  border-radius: 10px;
  border: none;
}
.main {
  display:flex;
  justify-content: center;
  height: 75vh;
  margin-top: 50px;
}

.calc {
  width: 400px;
  border-radius: 30px;
  background-color: #1a1c22;
}

.screen {
  height: 300px;
  background:#1a1c22;
  border-radius: 30px;
  padding-top: 185px;
  padding-left: 210px;
}

.operation {
  background: none;
  font-size: 20px;
  padding-left: 51px;
  padding-bottom: 5px;
}

.result {
  font-weight: 600;
  font-size: 50px;
  background: none;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  margin-right: 30px;
}

.btn-grid {
  display: grid;
  border-radius: 30px;
  background-color: #292D36;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 40px;
}

#clear {
  grid-column: span 2;
  color: #26C3A9;
}

#delete {
  grid-column: span 2;
  color: #e7454b;
}



#operator {
  background: inherit;
  color: #e7454b;
  padding: 10px;
}

#clear:hover {
  cursor: pointer;
  background: #26C3A9;
  color: white;
  transform: scale(1.1);
  border-color: #26C3A9;
  box-shadow: 0 0 1rem #6fb8ac;
}

#delete:hover {
  cursor: pointer;
  background: #e7454b;
  color: white;
  transform: scale(1.1);
  border-color: #e7454b;
  box-shadow: 0 0 1rem #e7454b;
}

#op:hover {
  cursor: pointer;
  background: #ffc600;
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

button:hover {
  cursor: pointer;
  background: #5a6377;
  transform: scale(1.1);
  border-color: #5a6377;
  box-shadow: 0 0 1rem #7a87a1;
}

#num1, #num2 {
  background: inherit;
}